{% extends 'base.html.twig' %}

{% block title %}New Imgmascota{% endblock %}

{% block body %}
    <h1>Create new Imgmascota</h1>

    {{ include('imgmascota/_form.html.twig') }}

    <a href="{{ path('app_imgmascota_index') }}">back to list</a>
{% endblock %}
