{% extends 'base.html.twig' %}

{% block title %}New Mascota{% endblock %}

{% block body %}
    <h1>Create new Mascota</h1>

    {{ include('mascota/_form.html.twig') }}

    <a href="{{ path('app_mascota_index') }}">back to list</a>
{% endblock %}
